CONFIG_GOOGLE_DRIVER=y
CONFIG_GOOGLE_USB_POWER_MONITOR=y
CONFIG_SENSORS_NTC_THERMISTOR=y
CONFIG_TYPEC=y
CONFIG_TYPEC_TCPM=y
CONFIG_TYPEC_RT1711H=y
CONFIG_TYPEC_FUSB302=y
CONFIG_THERMAL_DEFAULT_GOV_STEP_WISE=y
CONFIG_THERMAL_GOV_STEP_WISE=y

